@import "eyeglass/assets";

// use assets.js resolveAsset / resolveAssetToPath
@function sprite-map($name, $layout, $paths...) {
  @return sprite-map-assets($name, $layout, $eg-registered-assets, $paths...);
}

@function sprite-url($spritemap) {
  $spritemap-data: sprite-url-assets($spritemap, $eg-registered-assets);
  $source: map-get($spritemap-data, source);
  $filepath: map-get($spritemap-data, filepath);

  // TODO: only register asset if spritemap is not already registered?
  $discarded-value: register-asset(null, $source, $filepath);
  // @debug asset-uri($url);
  // @debug map-get($eg-registered-assets, null);
  @return asset-url($source);
  // @return $url;
}

@mixin sprite-background($sprite-map, $repeat: no-repeat) {
  // @debug map-get($eg-registered-assets, null);
  // $sprite-map-name: map-get($sprite-map, name);
  // eyeglass.assets.resolveAssetToPath($eg-registered-assets, $sprite-map-name);
  background: sprite-url($sprite-map) $repeat;
  // background: url('"' + sprite-url($sprite-map) + '"') $repeat;
}

@mixin sprite-position($sprite-map, $sprite-name) {
  background-position: sprite-position($sprite-map, $sprite-name);
}

@mixin sprite-dimensions($sprite-map, $sprite-name) {
  width: sprite-width($sprite-map, $sprite-name);
  height: sprite-height($sprite-map, $sprite-name);
}
